

body {
    background-color: black;
    }

.container {
    display: flex;
    justify-content: center;
}

.text-part {
    flex: 2 1 auto;
    width: 150px;
    margin-right: 200px;
    background-color: #E5E7EB;
}

.text1, .text2{
    margin-top: 120px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}

.text2 {
    margin-top: 30px;
    font-style: italic;
}

   
.image {
    flex: 1 1 auto;
    width: 200px;
    margin-left: 200px; 
}

.form {
    margin-top: 120px;
    margin-left: 50px;
    margin-right: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
}

.fname, .lname, .mail, .number, .password, .conf_password {
    display: block;
    margin-right: 50px;
}

.password {
    margin-right: 25px;
}

input:focus {
    outline: 2px solid #5f5cff;
    box-shadow: 10px 10px lightblue;
  } 

input[type=password]:invalid {   
    outline: 2px solid #ff0000;   
} 

input[type=submit] {
    background-color:#596D48;
    color: white;

}

.button {
    margin-top: 40px;
    height:30px;
    width:200px;
}

.login {
    margin-top: 10px;
    margin-left: 45px;
}

a:link {
    color: rgb(29, 112, 4);
    text-decoration: none;
  }

input {
    border-radius: 3px;
    border: 1px solid #E5E7EB;
}

.another_form_color {
    background-color: white;
    padding: 40px;
}
  
