@font-face {
    font-family: 'myFirstFont';
    src: url("fonts/Norse-Bold.otf") format("opentype");
}

@font-face {
    font-family: 'typewriter';
    src: url('fonts/Momot.TTF');
    font-weight: 1000px;  
    font-style: normal;
}
  

body {
    background-color: black;
    }

.container {
    display: flex;
    justify-content: center;
}

.text-part {
    flex: 2 1 auto;
    width: 150px;
    margin-right: 200px;
    background-color: #E5E7EB;
}

.text1, .text2{
    margin-top: 120px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}

.text2 {
    margin-top: 30px;
    font-style: italic;
}

   
.image {
    flex: 1 1 auto;
    width: 200px;
    margin-left: 200px; 
}

.form {
    margin-top: 120px;
    margin-left: 50px;
    margin-right: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
}

.fname, .lname, .mail, .number, .password, .conf_password {
    display: block;
    margin-right: 50px;
}

.password {
    margin-right: 25px;
}

input:focus {
    outline: 2px solid #5f5cff;
    box-shadow: 10px 10px lightblue;
  } 

input[type=password]:invalid {   
    outline: 2px solid #ff0000;   
} 

input[type=submit] {
    background-color:#596D48;
    color: white;

}

.button {
    margin-top: 40px;
    height:30px;
    width:200px;
}

.login {
    margin-top: 10px;
    margin-left: 45px;
}

a:link {
    color: rgb(29, 112, 4);
    text-decoration: none;
  }

input {
    border-radius: 3px;
    border: 1px solid #E5E7EB;
}

.another_form_color {
    background-color: white;
    padding: 40px;
}

.image_part {
  background-image: url("photo.jpg");
  background-size:cover;
  flex: 1 1 auto;
  width: 200px;
  height: 1000px;
  margin-left: 200px; 
}

.logo {
    content:url("odin-lined.png");
    width: 120px;
    height: 150px;
}​

.container {
    margin-top: 200px;
    font-size: 50px;
    
}

.odin_txt {
    font : 1em "myFirstFont", monospace;
    font-size: 120px;
    color: #E5E7EB;
    padding-top: 17px;
}



