

body {
    background-color: black;
    }

.container {
    display: flex;
    justify-content: center;
}

.text-part {
    flex: 2 1 auto;
    width: 150px;
    margin-right: 200px;
    background-color: white;
}

.text1, .text2{
    margin-top: 120px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}

.text2 {
    margin-top: 30px;
    font-style: italic;
}

   
.image {
    flex: 1 1 auto;
    width: 200px;
    margin-left: 200px; 
}

.form {
    margin-top: 120px;
    margin-left: 50px;
    margin-right: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
}

.fname, .lname, .mail, .number, .password, .conf_password {
    display: block;
    margin-right: 50px;
}

.password {
    margin-right: 25px;
}

input:focus {
    outline: 2px solid #5f5cff;
  } 

input:invalid {
      
    outline: 2px solid #ff0000;   
}  

  
